
input[type="checkbox"],
input[type="radio"] {
  font-size: 1;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: '\a0';
  display: inline-block;
  margin: .55em .2em .55em .3em;
  width: .6em;
  height: .6em;
  line-height: .4em;
  transition: all .2s;
  border-radius: 50%;
  border: 1.1px solid black;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  content: '\a0';
  background: black;
}

.fade-enter {
	opacity: 1.0;
}

.fade-enter-active {
	opacity: 0.0;
  transition: 300ms ease-in;
}

.fade-enter-done {
  opacity: 0.0
}

.fade-exit {
  opacity: 0.0;
}

.fade-exit-active {
	opacity:1.0;
  transition: 300ms ease-in;
}

.browse-menu-enter {
	left: -250px;
}

.browse-menu-enter-active {
	left: 0px;
  transition: 300ms ease-in;
}

.browse-menu-exit {
  left: 0px;
}

.browse-menu-exit-active {
	left: -250px;
  transition: 300ms ease-in;
}

.push-body-enter {
	left: 0px;
}

.push-body-enter-active {
	left: 230px;
  transition: 300ms ease-in;
}

.push-body-enter-done {
	left: 230px;
  height: 100%;
}

.push-body-exit {
  left: 230px;
}

.push-body-exit-active {
	left: 0px;
  transition: 300ms ease-in;
}

.grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -40px; /* gutter size offset */
}
.grid-column {
  padding-left: 40px; /* gutter size */
  background-clip: padding-box;
}

.grid-column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.tagline {
  font-family: 'Lato', sans-serif;
}

.title {
  font-family: 'Lato', cursive;
}


#navbar {
  font-family: 'Lato', sans-serif;
}

#browse {
  font-family: 'Lato', sans-serif;
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

#browse-button:hover{
  color: grey;
}

#default {
  font-family: 'Poiret One', cursive;
  font-size: 2rem;
  width: 95%;
  height: 21rem;
  padding-top: 15%;
}

#main {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  position: relative;
  right: 0px;
}

#body {
  overflow-x: hidden;
  min-height: 100%;
}

span:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

u {
  text-decoration: none;
  border-bottom: 1px solid black;
}

input {
  width: 200px;
  outline: none;
  border: 0px;
}

input:focus{
    outline: none;
}

label {
  font-size: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:hover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: silver;
    cursor: pointer;
}

.logo {
  width: 20%;
}

.logo:hover {
  cursor: pointer;
}

.words {
  font-family: 'Poiret One', cursive;
  font-size: 2rem;
}

.symbol {
  font-family: 'Nixie One';
}

.bs {
  width: 40%;
}

.ls {
  width: 40%;
}

.link {
  height: 13px;
  width: 13px;
  transform: translateY(1px) rotate(-15deg)
}

.exit-browse {
  position: absolute;
  top: 0;
  right: -10px;
}

@media screen and (max-width: 480px) {
  .grid {
    margin-left: -20px;
  }
  .grid-column {
    padding-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .grid {
    margin-left: -20px;
  }
  .grid-column {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .bs {
    width: 47.5%;
  }
  .ls {
    width: 47.5%;
  }
  .logo {
    width: 5%;
    font-size: 80px;
  }
  #default {
    padding-top: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .filter {
    font-size: .9rem;
  }
}
