
input[type="checkbox"],
input[type="radio"] {
  font-size: 1;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: '\a0';
  display: inline-block;
  margin: .55em .2em .55em .3em;
  width: .6em;
  height: .6em;
  line-height: .4em;
  transition: all .2s;
  border-radius: 50%;
  border: 1.1px solid black;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  content: '\a0';
  background: black;
}

label:hover {
  cursor: pointer;
}

.fade-out-enter {
	opacity: 1.0;
}

.fade-out-enter-active {
	opacity: 0.0;
  transition: 300ms ease-in;
}

.fade-out-enter-done {
  opacity: 0.0
}

.fade-out-exit {
  opacity: 0.0;
}

.fade-out-exit-active {
	opacity:1.0;
  transition: 300ms ease-in;
}

.fade-in-enter {
	opacity: 0.0;
}

.fade-in-enter-active {
	opacity: 1.0;
  transition: 300ms ease-in;
}

.fade-in-enter-done {
  opacity: 1.0
}

.fade-in-exit {
  opacity: 1.0;
}

.fade-in-exit-active {
	opacity:0.0;
  transition: 300ms ease-in;
}

.browse-menu-enter {
	left: -250px;
}

.browse-menu-enter-active {
	left: 0px;
  transition: 300ms ease-in;
}

.browse-menu-enter-done {
  left: 0px;
}

.browse-menu-exit {
  left: 0px;
}

.browse-menu-exit-active {
	left: -250px;
  transition: 300ms ease-in;
}

.user-form-enter {
	right: -250px;
}

.user-form-enter-active {
	right: 0px;
  transition: 300ms ease-in;
}

.user-form-enter-done {
	right: 0px;
  transition: 300ms ease-in;
}

.user-form-exit {
  right: 0px;
}

.user-form-exit-active {
	right: -250px;
  transition: 300ms ease-in;
}

.push-body-right-enter {
	left: 0px;
}

.push-body-right-enter-active {
	left: 225px;
  transition: 300ms ease-in;
}

.push-body-right-enter-done {
	left: 225px;
  height: 100%;
}

.push-body-right-exit {
  left: 225px;
}

.push-body-right-exit-active {
	left: 0px;
  transition: 300ms ease-in;
}

.push-body-left-enter {
	left: 0px;
}

.push-body-left-enter-active {
	left: -225px;
  transition: 300ms ease-in;
}

.push-body-left-enter-done {
	left: -225px;
  height: 100%;
}

.push-body-left-exit {
  left: -225px;
}

.push-body-left-exit-active {
	left: 0px;
  transition: 300ms ease-in;
}

.grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -40px; /* gutter size offset */
}
.grid-column {
  padding-left: 40px; /* gutter size */
  background-clip: padding-box;
}

.grid-column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.shown {
  visibility: visible;
}

.nav-button:hover {
  color: grey;
  cursor: pointer
}

.star:hover {
  cursor: pointer;
}

#navbar {
  font-family: 'Lato', sans-serif;
}

#browse {
  font-family: 'Lato', sans-serif;
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

#user-form {
  font-family: 'Lato', sans-serif;
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  z-index: 1000;
  text-align: right;
}

#user-form input{
  -webkit-appearance: none;
  text-align: right;
  font-size: 1.5rem;
}

#user-form button{
  text-decoration: underline;
  border:none;
  background: none;
  text-align: right;
  font-size: 1.5rem;
}

#user-form button:hover {
  color: grey;
  cursor: pointer
}

#edit-description input[type="text"]{
  text-transform: lowercase;
  width: 100%
  -webkit-appearance: none;
}

#edit-description button{
  text-decoration: none;
  text-align: left;
  border: none;
  margin-left: -6px;
  background: none;
}

#edit-description button:hover{
  color: grey;
  cursor: pointer
}

#browse-button:hover{
  color: grey;
  cursor: pointer
}

#default {
  font-family: 'Poiret One', cursive;
  font-size: 2rem;
  width: 95%;
  height: 21rem;
  padding-top: 25%;
  margin-bottom: 25%;
}

#main {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  position: relative;
  right: 0px;
}

#body {
  overflow-x: hidden;
  min-height: 100%;
}

#display-image {
  width: 40%;
  float: left;
}

#tags {
  width: 60%;
  padding-left: 3%;
}

.display-right {
  width: 50%;
  margin-left: 3%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

u {
  text-decoration: none;
  border-bottom: 1px solid black;
}

input {
  -webkit-appearance: none;
  width: 200px;
  outline: none;
  border: 0px;
}

input:focus{
    outline: none;
}

label {
  font-size: 100px;
}

.image-holder {
  position: relative
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:hover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: silver;
    cursor: pointer;
}

.logo {
  width: 20%;
}

.logo:hover {
  cursor: pointer;
}

.words {
  font-family: 'Poiret One', cursive;
  font-size: 2rem;
}

.text {
  font-family: 'Lato', sans-serif;
}

.info {
  font-family: 'lato', cursive;
  font-size: 1.15rem;
  line-height: 2rem;
  letter-spacing: .015rem;
}

.symbol {
  font-family: 'Nixie One';
}

.bs {
  width: 40%;
}

.ls {
  width: 40%;
}

.link {
  height: 13px;
  width: 13px;
  transform: translateY(1px) rotate(-15deg)
}

.exit-browse {
  position: absolute;
  top: 0;
  right: -10px;
}

@media screen and (max-width: 480px) {
  .grid {
    margin-left: -20px;
  }
  .grid-column {
    padding-left: 20px;
  }
}

@media screen and (max-width: 530px) {
  #display-image {
    width: 100%;
  }
  .display-right {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  #tags {
    clear: left;
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .grid {
    margin-left: -20px;
  }
  .grid-column {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .bs {
    width: 47.5%;
  }
  .ls {
    width: 47.5%;
  }
  .logo {
    width: 5%;
    font-size: 80px;
  }
  #default {
    padding-top: 20%;
    margin-bottom: 20%;
  }
}
