
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: '\a0';
  display: inline-block;
  margin: .55em .2em .55em .3em;
  width: .6em;
  height: .6em;
  line-height: .4em;
  transition: all .2s;
  border-radius: 50%;
  border: 1.1px solid silver;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  content: '\a0';
  background: silver;
}

.slide-enter {
  position: relative;
  transform: translateY(-2rem);
  opacity: 0;
  z-index: -1;
  height: 0px;
}

.slide-enter-active {
  transform: translateY(0rem);
  height: 2rem;
  opacity: 1;
  transition: 300ms ease-in;
}

.slide-exit {
  position: relative;
  transform: translateY(0rem);
  z-index: -1;
  opacity: 0.5;
  height: 2rem;
}

.slide-exit-active {
  position: relative;
  transform: translateY(-2rem);
  z-index: -1;
  opacity: 0;
  height: 0;
  transition: 300ms ease-in;
}

.logo {
  font-family: 'Poiret One', cursive;
  font-size: 1.75rem;
}

.logo:hover {
  cursor: pointer;
}

.pubcard {
  position: relative;
}

.pubtagline {
  position: absolute;
  left: 17.5%;
  width: 66%;
}

#default {
  position: relative;
  font-family: 'Poiret One', cursive;
  font-size: 1.6rem;
}

span:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

img:hover {
  opacity: 0.25;
}

input {
  width: 200px;
  outline: none;
  border: 0px;
}

input:focus{
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
